<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ERROR 404</title>
        <style media="screen">
        
            body { background-color: #222; }
            body, p, div {
                margin: 0;
                padding: 0;
                /*color: #999;*/
            }

            .hrline {
                display: block;
                width: 70%;
                height: 1px;
                border: 0;
                border-top: 1px solid;
                /*margin: 1em 0;*/
                padding: 0;
            }

            .titletext {
                font-size: 18px;
            }

            .bodycontent {
                display: -webkit-box;
                margin: 20% auto;
                padding: 20px;
                width: 70%;
                font-family: sans-serif;
                text-align: center;
                /*border-top: 1px solid #555;*/
                /*border-bottom: 1px solid #555;*/
            }

            .blockleft {
                color: #555;
                width: 65%;
                text-align: right;
                padding: 0 20px;
                border-right: 1px solid #333;
                font-size: 72px;
                height: 80px;
            }
            .blockright {
                color: #555;
                width: 35%;
                text-align: left;
                padding: 4px 20px;
                font-size: 20px;
            }

            .textbig {
                /*margin: 5px 0px;*/
            }

            .textsmall {
            }

        </style>
    </head>
    <body>
        <div class="bodycontent">
            <!-- <hr class="hrline"> -->
            <div class="blockleft">
                ERROR <span style="color: #d44600">404</span>
            </div>
            <div class="blockright">
                <p>page</p>
                <p>not</p>
                <p>found</p>
            </div>
            <!-- <hr class="hrline"> -->
        </div>
    </body>
</html>
